palette-grey = #222
palette-white = #fafafa
palette-dark-transparent = rgba(2, 2, 2, 0.8)
transparent = rgba(2, 2, 2, 0)

main-menu-bg-color = transparent
logo-bg-color = palette-grey

box-title-rounded-corner-radius = 10px 10px 0px 0px
box-rounded-corner-radius = 0px 0px 10px 10px

footer-bg-color = palette-dark-transparent
footer-text-color = palette-white