@import "mixins.styl"
@import "settings.styl"


#main-menu
	background-color main-menu-bg-color

#logo
	height 200%
	padding 10px
	background-color logo-bg-color

#logo2
	background-color: logo-bg-color
	height: 90px;
	padding: 10px;
	position: fixed;
	top: 0;

.box
	border-radius(box-rounded-corner-radius)
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))

#footer
	background-color footer-bg-color
	color footer-text-color
	padding-top: 10px

.section-banner
	margin-top -30px





@media (max-width: 940px)
	#logo
		height 100%
