@import "mixins.styl"
@import "settings.styl"

body
	display none

#main-menu
	background-color main-menu-bg-color

#logo
	height 66%
	background-color logo-bg-color

#logo2
	padding 10px
	left 0
	position absolute
	top 0

.top-bar.expanded
	background-color rgba(20, 20, 20, 0.9)
	section
		ul
			margin-top 1em
			li
				text-align center
				padding-bottom 0.618em
				a:not(.button)
					border 2px solid rgba(147,30,7,0.8)
		    	box-shadow 3px 3px 3px #222
		    	margin 10px

#slogan
	text-align right
	position relative
	padding-top 10%
	padding-left 10%
	margin-bottom -20%
	right 5%
	h1
		a
			color #fff
			font-size 1.618em
			text-shadow 3px 3px 4px rgba(20, 20, 20, 0.8)

.box
	border-radius(box-rounded-corner-radius)
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))

.box-fluid
	@extend .box
	p
		&:first-child
			margin-top 17px
		text-align justify

.box-title
	margin 0px
	border-radius(box-title-rounded-corner-radius)
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))
	background-color rgba(147,30,7,0.9)
	color palette-white
	border solid transparent
	padding 7px
	h5
		color palette-white
		a
			color palette-white

.box-title-fluid
	@extend .box-title
	h3
		color palette-white

ul.side-nav
	li
		border-bottom 2px solid #CCCCCC

.testimonial
	blockquote
		line-height 1.5em
		p, i
			font-family 'Arial'
			color #666
			font-size 16px
		&:before
			color rgba(147,30,7,1)
			content "“"
			float left
			font-family 'Cardo'
			font-size 72px
			height 0
			margin-right 10px
			margin-top 14px
		&:after
			content ""

.contact-box
	background-color rgba(240,240,240,0.9)
	border-radius 10px 10px 10px 10px
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))
	border-top solid 6px rgba(147,30,7,0.8)
	margin-bottom 2em

#map
	margin-top -9.4%

#footer
	background-color footer-bg-color
	color footer-text-color
	padding-top 10px
	position fixed
	bottom 0
	a
		color footer-text-color

	#twitter
		border 3px solid #555
		background-color #555


.section-banner
	margin-top -30px


@media (min-width: 767px)
	.box
		height 160px

@media (min-width: 1024px)
	.top-bar
		ul
			li
				a:not(.button)
					padding-top 23px !important

	.box
		height 110px

@media (max-width: 1024px)
	#logo
		height 66%
		margin-top 10px
		margin-left -0.618em

	#slogan
		text-align right
		position relative
		padding-top 10%
		padding-left 5%
		margin-bottom -20%
		right 5%
		h1
			a
				color #fff
				font-size 1em !important
				text-shadow 3px 3px 4px rgba(20, 20, 20, 0.8)

@media (max-width: 767px)
	#footer
		position relative

	#map
		margin-top 0

	#blog-picture
		float right

	#blog-text
		float left

