@import "mixins.styl"
@import "settings.styl"


#main-menu
	background-color main-menu-bg-color

#logo
	height 66%
	background-color logo-bg-color

#logo2
	padding 10px
	left 0
	position absolute
	top 0

.top-bar.expanded
	background-color rgba(20, 20, 20, 0.9)
	section
		ul
			margin-top 1em
			li
				text-align center
				padding-bottom 0.618em
				a:not(.button)
					border 2px solid rgba(147,30,7,0.8)
		    	box-shadow 3px 3px 3px #222
		    	margin 10px

#slogan
	text-align right
	position relative
	padding-top 10%
	padding-left 10%
	margin-bottom -20%
	right 5%
	h1
		a
			color #fff
			font-size 1.618em
			text-shadow 3px 3px 4px rgba(20, 20, 20, 0.8)

.box
	border-radius(box-rounded-corner-radius)
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))

.box-title
	margin 0px
	border-radius(box-title-rounded-corner-radius)
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))
	background-color rgba(147,30,7,0.8)
	color palette-white
	border solid transparent
	padding 7px
	h5
		color palette-white
		a
			color palette-white

#testimonial
	blockquote
		p
			font-family 'Arial'
			font-size 12px
			line-height 1.5em
		&:before
			color #DDDDDD
			content "“"
			float left
			font-size 72px
			height 30px
			margin-right 10px
			margin-top -23px
		&:after
			content ""

.contact-box
	background-color rgba(240,240,240,0.85)
	border-radius 10px 10px 10px 10px
	box-shadow(3px 3px 5px 1px rgba(5,5,5,0.4))
	border-left solid 1em rgba(147,30,7,0.8)

#footer
	background-color footer-bg-color
	color footer-text-color
	padding-top 10px
	position fixed
	bottom 0
	a
		color footer-text-color

.section-banner
	margin-top -30px


@media (min-width: 767px)
	.box
		height 150px

@media (min-width: 1024px)
	.top-bar
		ul
			li
				a:not(.button)
					padding-top 23px !important

	.box
		height 110px

@media (max-width: 1024px)
	#logo
		height 66%
		margin-top 10px
		margin-left -0.618em

	#slogan
		text-align right
		position relative
		padding-top 10%
		padding-left 5%
		margin-bottom -20%
		right 5%
		h1
			a
				color #fff
				font-size 1em !important
				text-shadow 3px 3px 4px rgba(20, 20, 20, 0.8)

@media (max-width: 767px)
	#footer
		position relative

