#main-menu {
  background-color: rgba(2,2,2,0);
}
#logo {
  height: 66%;
  background-color: #222;
}
#logo2 {
  padding: 10px;
  left: 0;
  position: absolute;
  top: 0;
}
.top-bar.expanded {
  background-color: rgba(20,20,20,0.9);
}
.top-bar.expanded section {
  -webkit-box-shadow: 3px;
  box-shadow: 3px;
  margin: 10px;
}
.top-bar.expanded section ul {
  margin-top: 1em;
}
.top-bar.expanded section ul li {
  text-align: center;
  padding-bottom: 0.618em;
}
.top-bar.expanded section ul li a:not(.button) {
  border: 2px solid rgba(147,30,7,0.8);
}
#slogan {
  text-align: right;
  position: relative;
  padding-top: 10%;
  padding-left: 10%;
  margin-bottom: -20%;
  right: 5%;
}
#slogan h1 a {
  color: #fff;
  font-size: 1.618em;
  text-shadow: 3px 3px 4px rgba(20,20,20,0.8);
}
.box {
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
}
.box-fluid {
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
}
.box-title,
.box-title-fluid {
  margin: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  background-color: rgba(147,30,7,0.8);
  color: #fafafa;
  border: solid rgba(2,2,2,0);
  padding: 7px;
}
.box-title h5,
.box-title-fluid h5 {
  color: #fafafa;
}
.box-title h5 a,
.box-title-fluid h5 a {
  color: #fafafa;
}
.box-title-fluid h3 {
  color: #fafafa;
}
ul.side-nav li {
  border-bottom: 2px solid #ccc;
}
#testimonial blockquote {
  line-height: 1.2em;
}
#testimonial blockquote p,
#testimonial blockquote i {
  font-family: 'Arial';
  font-size: 12px;
}
#testimonial blockquote:before {
  color: #ccc;
  content: "“";
  float: left;
  font-family: 'Cardo';
  font-size: 72px;
  height: 0;
  margin-right: 10px;
  margin-top: 13px;
}
#testimonial blockquote:after {
  content: "";
}
.contact-box {
  background-color: rgba(240,240,240,0.9);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  border-top: solid 3px rgba(147,30,7,0.8);
  margin-bottom: 2em;
}
#footer {
  background-color: rgba(2,2,2,0.8);
  color: #fafafa;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
}
#footer a {
  color: #fafafa;
}
.section-banner {
  margin-top: -30px;
}
@media (min-width: 767px) {
  .box {
    height: 150px;
  }
}
@media (min-width: 1024px) {
  .top-bar ul li a:not(.button) {
    padding-top: 23px !important;
  }
  .box {
    height: 110px;
  }
}
@media (max-width: 1024px) {
  #logo {
    height: 66%;
    margin-top: 10px;
    margin-left: -0.618em;
  }
  #slogan {
    text-align: right;
    position: relative;
    padding-top: 10%;
    padding-left: 5%;
    margin-bottom: -20%;
    right: 5%;
  }
  #slogan h1 a {
    color: #fff;
    font-size: 1em !important;
    text-shadow: 3px 3px 4px rgba(20,20,20,0.8);
  }
}
@media (max-width: 767px) {
  #footer {
    position: relative;
  }
}
