#main-menu {
  background-color: rgba(2,2,2,0);
}
#logo {
  height: 200%;
  padding: 10px;
  background-color: #222;
}
#logo2 {
  background-color: #931e07;
  background-image: linear-gradient(#b02a0e, #931e07);
  height: 118px;
  padding: 10px;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
}
#slogan {
  text-align: right;
  position: relative;
  padding-top: 10%;
  padding-left: 10%;
  margin-bottom: -20%;
  right: 5%;
}
#slogan h1 a {
  color: #fff;
  font-size: 2em;
  text-shadow: 3px 3px 4px rgba(20,20,20,0.8);
}
.box {
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
}
.box-title {
  margin: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  background-color: rgba(147,30,7,0.8);
  color: #fafafa;
  border: solid rgba(2,2,2,0);
  padding: 7px;
}
.box-title h5 {
  color: #fafafa;
}
.box-title h5 a {
  color: #fafafa;
}
.contact-box {
  background-color: rgba(240,240,240,0.9);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  box-shadow: 3px 3px 5px 1px rgba(5,5,5,0.4);
  border-left: solid 1em rgba(147,30,7,0.8);
}
#footer {
  background-color: rgba(2,2,2,0.8);
  color: #fafafa;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
}
#footer a {
  color: #fafafa;
}
.section-banner {
  margin-top: -30px;
}
@media (max-width: 940px) {
  #logo {
    height: 100%;
  }
}
@media (max-width: 768px) {
  #footer {
    position: relative;
  }
  #slogan {
    text-align: right;
    position: relative;
    padding-top: 10%;
    padding-left: 5%;
    margin-bottom: -20%;
    right: 5%;
  }
  #slogan h1 a {
    color: #fff;
    font-size: 1em !important;
    text-shadow: 3px 3px 4px rgba(20,20,20,0.8);
  }
}
