include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-internet-new-media.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Internet E New Media
					small &nbsp;
				p Nel periodo dell’esplosione della new economy abbiamo assistito diverse società che hanno approcciato internet come unica dimensione aziendale, con una visione pionieristica molto coraggiosa. La maggior parte di queste avevano spesso ad oggetto i nuovi mezzi di comunicazione.
				p L’esperienza in materia di brevetti e copyright ci ha consentito di affrontare con le giuste competenze questo nuovo mondo e la componente societaria/finanziaria è stata il complemento ideale agli strumenti del mestiere necessari per assistere le aziende del settore, dal momento che quasi tutti i progetti vengono affrontati con supporto di venture capital.
				p L’evoluzione dei media ha portato con sé la disciplina della privacy, con la moltitudine di diritti, cautele, adempimenti imposti nella gestione dei dati personali.
				p Generalmente il nostro Cliente in questo settore è una start up o uno spin off di un’azienda che decide di “digitalizzarsi” o aprire un nuovo settore di business.<br>L&P assiste con competenza aziende che operano interamente su internet, in tutto il loro processo commerciale, ed aziende che usano internet come forma prevalente di comunicazione. 
				p L’esperienza nei new media ci ha consentito di apprezzare e valorizzare l’importanza del fattore tempo nell’assistenza legale e contrattuale, considerata la forte accelerazione che caratterizza il settore.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
			

include includes/footer.php
include includes/tail.php