include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-internet-new-media.jpg")

br
br
br
br
br

.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 Energia
				small &nbsp;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				p L’esperienza decennale nella consulenza al Ministero dell’Ambiente e l’approfondita conoscenza del settore immobiliare e del mondo delle nuove tecnologie hanno determinato una forte propensione dello Studio ad occuparsi di energie rinnovabili; materia che negli ultimi anni ha interessato in modo prepotente il panorama economico nazionale. Peraltro, l’improvvisa cessazione dei contributi pubblici per il fotovoltaico ha provocato la necessità di riconsiderare scelte strategiche ed imprenditoriali di medio e lungo periodo, assetti finanziari e posizionamento degli investitori. Ciò sta determinando un cambio di posizionamento importante e sta aprendo rilevanti spazi di dialogo anche con mercati stranieri.
				p L&P ha esplorato le nuove prospettive offerte da questo importante mercato, con attenzione ai profili regolatori e a quelli gestionali, predisponendo analisi e studi ed offrendo il proprio supporto consulenziale alle aziende del settore.

.row
	.eleven.columns.centered
		include includes/testimonial
		

include includes/footer.php
include includes/tail.php