include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

img.section-banner.hide-for-small(src="images/section/01.jpg")
img.show-for-small(src="images/section/01.jpg")

#content.row
	.three.columns
		include includes/attivita-nav
	.nine.columns
		h3 Proprietà intellettuale e Concorrenza
			small &nbsp;
		p Marchi, brevetti, copyright, database e i differenti tipi di proprietà intellettuale sono parte essenziale del processo di creazione del valore. Con questa consapevolezza, lo Studio è stato coinvolto in importanti negoziazioni, risolvendo problematiche relative ai vari livelli della catena distributiva. 
		p L'information technology, le biotecnologie e le nanotecnologie sono trattate correntemente con notevole approfondimento e competenza scientifica. Inoltre, nell'information technology, L&P rappresenta un qualificato interlocutore di importanti amministrazioni pubbliche. 
		p Lo Studio segue poi delicati e complessi contenziosi. In particolare, L&P ha seguito rilevanti questioni innanzi all'Autorità Garante della Concorrenza e del Mercato concernenti concentrazioni ed intese restrittive, prevalentemente aventi ad oggetto i settori della grande distribuzione e della radiotelevisione. Lo Studio presta piena tutela e assistenza nei procedimenti innanzi all'Autorità Garante della Concorrenza e del Mercato, ivi compresi i procedimenti dell'Autorità in materia di pubblicità ingannevole.

	

include includes/footer.php
include includes/tail.php