include includes/header.php
include mixins/meta-tags
mixin meta-tags("Gestioni Patrimoniali, Trust, Successioni - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-gestioni-patrimoniali-trust-successioni.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Patrimoni, Trust, Successioni
					small &nbsp;
				p L&P ha maturato una profonda esperienza in questioni concernenti la gestione di patrimoni, in particolare con riferimento alla regolamentazione della proprietà e alla programmazione delle successioni. 
				p L&P è stato tra i primi studi legali ad introdurre in Italia il concetto di "family office", che ha sviluppato e gestito per diverse famiglie e rilevanti patrimoni. Lo Studio affronta frequentemente questioni concernenti investimenti mobiliari ed immobiliari, nonché controversie inerenti rapporti di private banking e gestione immobiliare.
				p Inoltre, L&P ha consolidato una significativa competenza in materia di trust interno, strumento giuridico di pianificazione patrimoniale finalizzato a conservare e/o trasferire la ricchezza e a tutelare il patrimonio. Lo Studio segue i propri Clienti sin dalla fase di ideazione del trust, occupandosi della costituzione e organizzazione, verificando l'esecuzione della volontà del costituente da parte del trustee e pianificando la devoluzione dei beni al beneficiario.
				p Dal punto di vista del contenzioso, siamo stati coinvolti in questioni ereditarie, divisioni, impugnazioni di testamenti, contestazione di atti gestori. In tali esperienze abbiamo sempre suggerito al Cliente vie alternative al contenzioso, valorizzando il fattore tempo e cercando di esplorare ogni possibile soluzione che garantisse un buon rapporto tra costo e beneficio.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
			

include includes/footer.php
include includes/tail.php