include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-ma-management-buy-out-venture-capital.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/attivita-nav
	.eight.columns
		.panel.contact-box
			h3 M&amp;A, Management Buy Out, Venture Capital
				small &nbsp;
			p Lo Studio assiste i propri Clienti in operazioni di trasferimento di partecipazioni sociali, acquisti, cessioni e affitti di azienda o di rami d'azienda, sia commerciali che industriali, operazioni di fusione e scissione, leveraged buy-out, management buy-out e buy-in, costituzione di joint venture e altre forme di associazione tra imprese e, in generale, in ogni operazione societaria straordinaria. 
			p L&amp;P partecipa alle trattative preliminari, effettua la due diligence legale, predispone e negozia i contratti e gli eventuali patti parasociali, redige la documentazione societaria assistendo gli organi sociali, segue le problematiche fiscali, prende parte alla trattativa sindacale e, ove necessario, cura la costituzione di nuovi veicoli societari.
			p Lo Studio assiste inoltre i propri Clienti, tra i quali alcuni tra i principali fondi d'investimento privati ed importanti gruppi industriali, nella costituzione di nuove imprese, nella realizzazione di spin-off (anche da enti pubblici e università), nella ristrutturazione di gruppi con azionisti nazionali ed esteri.
			p L&amp;P ha costituito o ristrutturato reti distributive e di franchising, in alcuni casi con interlocutori europei e statunitensi.

	

include includes/footer.php
include includes/tail.php