include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-proprieta-immobiliare.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/attivita-nav
	.eight.columns
		.panel.contact-box
			h3 Amministrazione di sostegno, tutela e protezione degli incapaci
				small &nbsp;
			p Lo Studio ha sviluppato un’ampia esperienza nelle procedure di competenza del giudice tutelare: assistenza di minori ed interdetti, amministrazioni di sostegno, tutele.
			p Vengono curati sia gli aspetti di gestione ordinaria della vita dell’amministrato, che i profili straordinari o contenziosi, con il massimo supporto alle famiglie nella interazione con Tribunale ed uffici amministrativi.
			p L&P ha maturato una specifica esperienza nel supporto gestionale, che può essere espresso anche tramite la costituzione di Trust e la creazione di “family office” in grado di gestire patrimoni personali in supporto alle figure professionali designate dalla famiglia dell’amministrato e dal Tribunale.

	

include includes/footer.php
include includes/tail.php