include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-energia.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Energia
					small &nbsp;
				p L’esperienza decennale nella consulenza al Ministero dell’Ambiente e l’approfondita conoscenza del settore immobiliare e del mondo delle nuove tecnologie hanno determinato una forte propensione dello Studio ad occuparsi di energie rinnovabili; materia che negli ultimi anni ha interessato in modo prepotente il panorama economico nazionale. Peraltro, l’improvvisa cessazione dei contributi pubblici per il fotovoltaico ha provocato la necessità di riconsiderare scelte strategiche ed imprenditoriali di medio e lungo periodo, assetti finanziari e posizionamento degli investitori. Ciò sta determinando un cambio di strategia importante e sta aprendo rilevanti spazi di dialogo anche con mercati stranieri.
				p L&P ha esplorato le nuove prospettive offerte da questo importante mercato, con attenzione ai profili regolatori e a quelli gestionali, predisponendo analisi e studi ed offrendo il proprio supporto consulenziale alle aziende del settore.
				p In questa materia è di fondamentale importanza la fase di due diligence, atteso che il valore degli assets è strettamente legato alla compliance degli impianti. Per questo, nelle aree tecniche, ci avvaliamo di consulenti altamente qualificati in grado di certificare al meglio l’attività di analisi e garantire al cliente tempi e costi adeguati.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
		

include includes/footer.php
include includes/tail.php