include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-proprieta-intellettuale-concorrenza.jpg")

br
br
br
br
br

.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Proprietà intellettuale e Concorrenza
					small &nbsp;
				p Marchi, brevetti, copyright, database e i differenti tipi di proprietà intellettuale sono parte essenziale del processo di creazione del valore. Con questa consapevolezza, lo Studio è stato coinvolto in importanti negoziazioni, risolvendo problematiche relative ai vari livelli della catena distributiva. 
				p Nel settore dei marchi, L&P è frequentemente impegnato in progetti relativi a prodotti commerciali e del settore della moda, inclusi contratti pubblicitari e relativi a testimonial provenienti dal mondo dello spettacolo e dello sport, con le relative esigenze di protezione dell’identità personale.
				p L’assistenza può comprendere registrazione e protezione internazionale di marchi e nomi a dominio.
				p L'information technology, i brevetti industriali, le biotecnologie e le nanotecnologie sono trattate con approfondimento e competenza scientifica. 
				p Siamo stati incaricati di delicati e complessi contenziosi aventi ad oggetto proprietà intellettuale e concorrenza. In particolare, abbiamo seguito rilevanti questioni innanzi all'Autorità Garante della Concorrenza e del Mercato concernenti concentrazioni ed intese restrittive, prevalentemente aventi ad oggetto i settori della grande distribuzione e della radiotelevisione. Lo Studio presta piena tutela e assistenza nei procedimenti innanzi all'Autorità Antitrust, ivi compresi i procedimenti in materia di pubblicità ingannevole.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
		
	

include includes/footer.php
include includes/tail.php