include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/attivita-nav
	.eight.columns
		.panel.contact-box
			h3 Attivit&agrave;
				small &nbsp;
			div(style="padding-left:4em;")
				ul
					li 
						a(href="attivita-commerciale-societario.php") Commerciale e Societario
					li 
						a(href="attivita-ma-management-buy-out-venture-capital.php") M&amp;A, Management Buy Out, Venture Capital
					li 
						a(href="attivita-proprieta-intellettuale-concorrenza.php") Proprietà intellettuale e Concorrenza
					li 
						a(href="attivita-internet-new-media.php") Internet e new media
					li 
						a(href="attivita-proprieta-immobiliare.php") Proprietà immobiliare
					li 
						a(href="attivita-gestioni-patrimoniali-trust-successioni.php") Gestioni patrimoniali, Trust, Successioni
					li 
						a(href="attivita-contenzioso-arbitrato.php") Contenzioso e Arbitrato

	

include includes/footer.php
include includes/tail.php