include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-contenzioso-arbitrato.jpg")

br
br
br
br
br

.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Contenzioso e Arbitrato
					small &nbsp;
				p Caratteristica distintiva dello Studio è l'abilità nell'individuare la strategia più idonea alla risoluzione delle questioni controverse. La tenacia, l'approfondimento, un'accurata attività istruttoria e la completezza dello studio del caso costituiscono la miglior formula per difendere e sostenere gli interessi del Cliente.
				p Nel settore civile, lo Studio ha assunto con successo la difesa dei propri Clienti in questioni classiche di diritto privato ed in materie specialistiche quali la colpa medica, il diritto industriale, il diritto societario e la responsabilità degli amministratori, gli appalti, gli immobili. 
				p Lo Studio è spesso officiato della cura di rilevanti questioni di natura ereditaria o personale e segue con frequenza tematiche concernenti l'immagine e l'identità personale, anche nell'interesse di artisti, atleti e personaggi politici.
				p Particolare esperienza è stata maturata anche nel giudizio risarcitorio innanzi alla Corte dei Conti, in materia di responsabilità per fatto illecito del pubblico dipendente.
				p Il contenzioso è patrocinato sia in sede ordinaria che arbitrale, innanzi alle Giurisdizioni Superiori e alla Corte di Giustizia dell’Unione Europea.
				p Nel settore penale, lo Studio si occupa di alcune materie avvalendosi di specialisti esterni (prevalentemente reati societari e contraffazione).

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
			

include includes/footer.php
include includes/tail.php