include includes/header.php
include mixins/meta-tags
mixin meta-tags("Proprietà Immobiliare - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-proprieta-immobiliare.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Propriet&agrave; Immobiliare
					small &nbsp;
				p Tra le classiche aree di investimento, quella immobiliare occupa costantemente l'attività dello Studio. L&P ha consolidato una vasta esperienza in materia di proprietà e diritti reali, e fornisce consulenza in materia di acquisizione e cessione di immobili e di appalti nazionali e internazionali. 
				p In particolare, lo Studio assiste i propri Clienti nella valutazione legale dell'acquisto immobiliare e del relativo finanziamento, delle problematiche urbanistiche o edilizie connesse, delle procedure di esproprio, nonché nella formulazione e negoziazione dei contratti di appalto.
				p Il settore delle locazioni, abitative e commerciali, occupa lo Studio sia sul fronte negoziale che su quello gestionale, con la presa in carico dell’ordinaria amministrazione di immobili a reddito.
				p Dal punto di vista del contenzioso abbiamo altresì maturato una significativa esperienza in tutti i tipi di controversie immobiliari e nelle questioni condominiali (danni, ripartizioni spese, godimento aree comuni ecc.), anche particolarmente complesse per numero di parti in causa e diversità di posizioni. 
				p Inoltre, L&P ha seguito per conto di amministrazioni pubbliche, imprenditori privati e joint ventures internazionali, progetti di costruzione, acquisizione e dismissione di insediamenti urbanistici, trattandone gli aspetti amministrativi, contrattuali, finanziarie e di due diligence.
	
.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
		

include includes/footer.php
include includes/tail.php