include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-proprieta-intellettuale-concorrenza.jpg")

br
br
br
br
br

.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 Proprietà intellettuale e Concorrenza
				small &nbsp;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				p Marchi, brevetti, copyright, database e i differenti tipi di proprietà intellettuale sono parte essenziale del processo di creazione del valore. Con questa consapevolezza, lo Studio è stato coinvolto in importanti negoziazioni, risolvendo problematiche relative ai vari livelli della catena distributiva.
				p Nel settore dei marchi, L&P è frequentemente impegnato in progetti relativi a prodotti commerciali e a prodotti del settore della moda; in questa area lo Studio si occupa anche dei contratti pubblicitari e del coinvolgimento di testimonial provenienti dal mondo dello spettacolo e dello sport, con le relative esigenze di protezione dell’identità personale.
				p Inoltre, L&P si occupa di registrazione e protezione internazionale di marchi e nomi a dominio, garantendo in proposito tutto il supporto amministrativo.
				p L'information technology, i brevetti industriali, le biotecnologie e le nanotecnologie sono trattate correntemente con notevole approfondimento e competenza scientifica. Inoltre, nell'information technology, L&P rappresenta un qualificato interlocutore di importanti amministrazioni pubbliche ed aziende private. 
				p Lo Studio segue poi delicati e complessi contenziosi aventi ad oggetto proprietà intellettuale e concorrenza. In particolare, L&P ha seguito rilevanti questioni innanzi all'Autorità Garante della Concorrenza e del Mercato concernenti concentrazioni ed intese restrittive, prevalentemente aventi ad oggetto i settori della grande distribuzione e della radiotelevisione. Lo Studio presta piena tutela e assistenza nei procedimenti innanzi all'Autorità Garante della Concorrenza e del Mercato, ivi compresi i procedimenti dell'Autorità in materia di pubblicità ingannevole.

.row
	.eleven.columns.centered
		include includes/testimonial
		
	

include includes/footer.php
include includes/tail.php