include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg2.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/attivita-nav
		include includes/testimonial
	.eight.columns
		.panel.contact-box
			h3 Attivit&agrave;
				small &nbsp;
			p Il focus dello Studio è sulle materie civili e commerciali. Nel menù a sinistra è possibile navigare tra i settori nei quali Lerro&Partners ha maturato una ampia esperienza e che vengono seguiti con maggior assiduità.
			p La politica dello Studio è  di assumere esclusivamente gli incarichi relativi a materie nelle quali abbia sviluppato una competenza specifica. In alcuni settori nei quali lo Studio ritenga di non avere sufficiente esperienza, previo accordo con il Cliente, possono essere coinvolti professionisti esterni di provata esperienza e capacità, per costituire un team multidisciplinare idoneo a sostenere al meglio le difese del Cliente e di realizzarne gli interessi.
			div(style="padding-left:4em;")
				ul
					li 
						a(href="attivita-commerciale-societario.php") Commerciale e Societario
					li 
						a(href="attivita-ma-management-buy-out-venture-capital.php") M&amp;A, Venture Capital e Management Buy Out
					li 
						a(href="attivita-proprieta-intellettuale-concorrenza.php") Proprietà intellettuale e Concorrenza
					li 
						a(href="attivita-internet-new-media.php") Internet e new media
					li 
						a(href="attivita-proprieta-immobiliare.php") Proprietà immobiliare
					li 
						a(href="attivita-gestioni-patrimoniali-trust-successioni.php") Gestioni patrimoniali, Trust, Successioni
					li 
						a(href="attivita-contenzioso-arbitrato.php") Contenzioso e Arbitrato
					li 
						a(href="attivita-energia.php") Energia
					li 
						a(href="attivita-amministrazione-sostegno-tutela-protezione-incapaci.php") Amministrazione di sostegno, tutela e protezione degli incapaci

	

include includes/footer.php
include includes/tail.php