include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-ma-management-buy-out-venture-capital.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 M&A, Venture Capital, M.B.O.
					small &nbsp;
				p Lo Studio assiste i propri Clienti in operazioni di trasferimento di partecipazioni sociali, acquisti, cessioni e affitti di azienda o di rami d'azienda, sia commerciali che industriali, operazioni di fusione e scissione, leveraged buy-out, management buy-out e buy-in, costituzione di joint venture e altre forme di associazione tra imprese e, in generale, in ogni operazione societaria straordinaria.
				p L&P partecipa alle trattative preliminari, effettua la due diligence legale, predispone e negozia i contratti e gli eventuali patti parasociali, redige la documentazione societaria assistendo gli organi sociali, segue le problematiche fiscali, prende parte alla trattativa sindacale e, ove necessario, cura la costituzione di nuovi veicoli societari.
				p Lo Studio assiste inoltre i propri Clienti, tra i quali vi sono stati alcuni tra i principali fondi d'investimento privati ed importanti gruppi industriali, nella costituzione di nuove imprese, nella realizzazione di spin-off (anche da enti pubblici e università), nella ristrutturazione di gruppi con azionisti nazionali ed esteri. 
				p In alcuni casi la ristrutturazione è meramente societaria, ma spesso essa riguarda il posizionamento finanziario, i rapporti col personale, le politiche commerciali, tutti fattori che influiscono sul raggiungimento della missione aziendale.

.row
	.eleven.columns.centered
		include includes/testimonial
			

include includes/footer.php
include includes/tail.php