include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-commerciale-societario.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/attivita-nav
	.eight.columns
		.panel.contact-box
			h3 Commerciale e Societario
				small &nbsp;
			p La Corporate Governance è una tradizionale area di attività di L&P, attento al dibattito internazionale in materia di trasparenza nella gestione dell'impresa. Oltre a seguire problematiche societarie di gruppi internazionali e imprese di tipo tradizionale, lo Studio ha altresì analizzato e implementato strutture innovative di joint venture, società e gruppi, con l'obiettivo di garantire la massima efficienza e tutela dell'interesse degli azionisti e degli investitori. 
			p Seguendo i propri Clienti dal momento genetico dell'impresa fino alla eventuale fase di liquidazione, L&P cura ogni aspetto dell'organizzazione societaria e le problematiche connesse con i necessari adempimenti. In particolare, lo Studio ha consolidato una rilevante esperienza nella redazione e successiva gestione di accordi parasociali, contribuendo alla corretta allocazione dei poteri decisionali e di controllo, curando le regolamentazioni degli equilibri partecipativi e disegnando strategie di uscita programmata.
			p Nei rapporti dell'impresa con il mercato, l'esperienza maturata consente a L&P di prestare completa assistenza nei diversi settori della contrattualistica commerciale, nelle problematiche di carattere giuslavoristico e nell'intellectual property, impiegando strumenti contrattuali atipici e innovativi quali licensing, franchising, engineering, hosting e housing.

	

include includes/footer.php
include includes/tail.php