include includes/header.php
include mixins/meta-tags
mixin meta-tags("Protezione Degli Incapaci - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-protezione-incapaci.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 ATTIVIT&Agrave;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav
			.eight.columns
				h3 Protezione degli Incapaci
					small &nbsp;
				p Lo Studio ha sviluppato un’ampia esperienza nelle procedure di competenza del giudice tutelare: assistenza di minori ed interdetti, amministrazioni di sostegno, tutele.
				p La fase introduttiva riguarda l’accertamento dello stato e del livello di incapacità, l’analisi delle esigenze di gestione, sia sotto il profilo personale (cura, assistenza, educazione, ecc.) che patrimoniale.
				p Vengono poi curati sia gli aspetti di gestione ordinaria della vita dell’amministrato, che i profili straordinari o contenziosi, con il massimo supporto alle famiglie nella interazione con Tribunale ed uffici amministrativi.
				p Gli aspetti successori completano la programmazione dell’attività, con l’obiettivo di trovare soluzioni corrette e concrete ed evitare contenziosi infiniti tra parenti.
				p L&P ha maturato una specifica esperienza nel supporto gestionale, che può essere espresso anche tramite la costituzione di Trust e la creazione di “family office” in grado di gestire patrimoni personali in supporto alle figure professionali designate dalla famiglia dell’amministrato e dal Tribunale.
				p In questa materia siamo spesso coinvolti in convegni specialistici e divulgativi ed eventi di formazione professionale.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
	

include includes/footer.php
include includes/tail.php