include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/attivita-internet-new-media.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/attivita-nav
		include includes/testimonial
	.eight.columns
		.panel.contact-box
			h3 Internet e new media
				small &nbsp;
			p Nel periodo dell’esplosione della new economy abbiamo avuto la fortuna di poter assistere diverse società che hanno approcciato internet come loro unica dimensione aziendale, con una visione pionieristica molto coraggiosa. La maggior parte di queste società non solo operavano unicamente via internet, ma avevano spesso ad oggetto i nuovi mezzi di comunicazione.
			p L’esperienza in materia di brevetti e copyright ci ha consentito di affrontare con le giuste competenze questo nuovo mondo e la componente societaria/finanziaria è stata il complemento ideale agli strumenti del mestiere necessari per assistere le aziende del settore, dal momento che quasi tutti i progetti vengono affrontati con supporto di venture capital.
			p Generalmente il nostro Cliente in questo settore è una start up o uno spin off di un’azienda che decide di “digitalizzarsi” o aprire un nuovo settore di business. 
			p L&P assiste con competenza aziende che operano interamente su internet, in tutto il loro processo commerciale, ed aziende che usano internet come forma prevalente di comunicazione. 
			p L’esperienza nei new media ci ha consentito di apprezzare e valorizzare l’importanza del fattore tempo nell’assistenza legale e contrattuale, considerata la forte accelerazione che caratterizza il settore.

	

include includes/footer.php
include includes/tail.php