include includes/header.php
include mixins/meta-tags
<?php if($_GET['lang'] == "en") { ?>
mixin meta-tags("Heritage, Trusts, Succession - Law Firm - Rome")
<?php } else { ?>
mixin meta-tags("Gestioni Patrimoniali, Trust, Successioni - Studio Legale - Lerro&Partners - Roma")
<?php } ?>
include includes/nav.php

#maximage
	img(src="images/bg/attivita-gestioni-patrimoniali-trust-successioni.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			<?php if($_GET['lang'] == "en") { ?>
			h3 ACTIVITIES
			<?php } else { ?>
			h3 ATTIVIT&Agrave;
			<?php } ?>

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/attivita-nav.php
			.eight.columns
				<?php if($_GET['lang'] == "en") { ?>
				h3 Heritage, Trusts, Succession
					small &nbsp;
				p Lerro&Partners has built up extensive experience in matters relating to the management of assets, in particular with regard to property regulations and succession planning.
				p We have been among the first law firms in Italy to introduce the concept of "family office", which has been developed and managed on behalf of several families and estates. Lerro&Partners regularly deals with issues concerning investments in securities and real estate, as well as disputes concerning private banking relationships and property management.
				p In addition, L&P has established a significant expertise in the field of internal trust, a legal instrument of estate planning aimed to preserve and/or transfer the wealth and protect your assets. Our practice  assists clients from the conception stage of the trust, dealing with the establishment and organization, verifying the implementation of the wishes of the settler, to the trustee and planning the allocation of assets to the beneficiary.
				p We have been involved in matters of inheritance, division, contesting of wills, disputing management acts. In these cases, we have always suggested alternative disputes resolution to the client, emphasizing the time factor and trying to explore every possible solution to ensure a good balance between cost and benefit.
				<?php } else { ?>
				h3 Patrimoni, Trust, Successioni
					small &nbsp;
				p L&P ha maturato una profonda esperienza in questioni concernenti la gestione di patrimoni, in particolare con riferimento alla regolamentazione della proprietà e alla programmazione delle successioni. 
				p L&P è stato tra i primi studi legali ad introdurre in Italia il concetto di "family office", che ha sviluppato e gestito per diverse famiglie e rilevanti patrimoni. Lo Studio affronta frequentemente questioni concernenti investimenti mobiliari ed immobiliari, nonché controversie inerenti rapporti di private banking e gestione immobiliare.
				p Inoltre, L&P ha consolidato una significativa competenza in materia di trust interno, strumento giuridico di pianificazione patrimoniale finalizzato a conservare e/o trasferire la ricchezza e a tutelare il patrimonio. Lo Studio segue i propri Clienti sin dalla fase di ideazione del trust, occupandosi della costituzione e organizzazione, verificando l'esecuzione della volontà del costituente da parte del trustee e pianificando la devoluzione dei beni al beneficiario.
				p Dal punto di vista del contenzioso, siamo stati coinvolti in questioni ereditarie, divisioni, impugnazioni di testamenti, contestazione di atti gestori. In tali esperienze abbiamo sempre suggerito al Cliente vie alternative al contenzioso, valorizzando il fattore tempo e cercando di esplorare ogni possibile soluzione che garantisse un buon rapporto tra costo e beneficio.
				<?php } ?>
.row
	.eleven.columns.centered
		include includes/testimonial.php
		include includes/blog-box.php

br
			

include includes/footer.php
include includes/tail.php