include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

img.section-banner.hide-for-small(src="images/section/01.jpg")
img.show-for-small(src="images/section/01.jpg")

#content.row
	.three.columns
		ul.side-nav
			li
				a prova1
			li
				a prova2
	.nine.columns
		h3 Contatti
			small &nbsp;Sottotitolo
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio. 
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio. 
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio.
	

include includes/footer.php
include includes/tail.php