include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/contacts.jpg")

br
br
br

#content.row
	.six.columns
		h3 Contatti
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio. 
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio. 
	.six.columns
		h3 Dove Siamo
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sem non nisl euismod luctus ornare ac magna. In vulputate congue lorem, molestie elementum nibh fringilla tincidunt. In sed dapibus diam. Fusce ut velit ac sapien tincidunt pharetra. Maecenas vulputate metus vel felis ornare et laoreet nunc luctus. Etiam at ullamcorper purus. Nulla eu orci vel erat auctor interdum mattis eu odio.
	

include includes/footer.php
include includes/tail.php