include includes/header.php
include mixins/meta-tags
mixin meta-tags("Costi - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 Costi
				small &nbsp;


#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			p I nostri servizi professionali sono sempre concordati in un Contratto e i compensi sono pattuiti prima dell’inizio del lavoro, sulla base di un preventivo scritto, che forma parte integrante del Contratto. Ciò avviene anche per servizi professionali di modesta entità.
			p Talora per redigere un preventivo è necessaria un’analisi preliminare del caso che, salvo diversi accordi, non viene addebitata al cliente.
			p In considerazione dell’abolizione delle tariffe professionali obbligatorie (art. 9 del decreto legge 24 gennaio 2012, n. 1, convertito, con modificazioni, dalla legge 24 marzo 2012, n. 27) i compensi sono concordati con il cliente secondo una delle seguenti formule:
			div(style="padding-left:4em;")
				ul
					li A progetto: nell’ambito di una più complessa attività vengono definiti i compensi per ciascun progetto e poi il cliente sceglie se attivare il servizio e su quali progetti.
					li Ad orario: può essere stabilito un compenso orario, nello stile internazionale; in questo caso le ore lavorate vengono rendicontate e liquidate periodicamente (generalmente su base mensile).
					li A forfait: viene stabilito un determinato compenso per l’intera attività.
					li A success fee: con questa formula il compenso si compone di una quota fissa (c.d. retainer) ed una success fee che matura solo in caso di esito favorevole de progetto, secondo i termini concordati col cliente.
					li A tariffa: una ulteriore formula, utile soprattutto per il contenzioso, è quella a tariffa: viene concordato un compenso per ciascuna possibile attività e poi vengono addebitate solo quelle effettivamente effettuate (es. redazione di una memoria, partecipazione ad un’udienza, ecc.)
			p La nostra attività professionale è coperta da polizza assicurativa emessa da AIG Europe per la responsabilità professionale con un massimale di euro 2.600.000,00. Eventuali operazioni soggette a limiti di possibili responsabilità superiori possono essere oggetto di specifica estensione.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
			

include includes/footer.php
include includes/tail.php