include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/esperienza-nav
	.eight.columns
		.panel.contact-box
			h3 Proras vs. CE
				small &nbsp;
			p Proras s.r.l. è una società di servizi e di ingegneria che negli ultimi anni si è specializzata in appalti nel settore della cooperazione europea. Si tratta di un ambiente difficile, notevolmente complicato sia dalle pressioni politiche dei Governi che da ruoli di fondamentale importanza attribuiti a contractor esterni alle istituzioni comunitarie.
			p In seguito ad un contenzioso originato da una fornitura, il Cliente è stato inserito in una black list non ufficiale ed escluso da ulteriori gare ed aggiudicazioni. Tale esclusione ha provocato significativi danni, atteso che l’azienda era focalizzata su servizi di ingegneria nell’ambito di procedure di gara comunitarie  (in particolare nel settore nucleare),  e quindi su appalti dell’U.E. in ambito TACIS e PHARE.
			p Vista la totale chiusura della Commissione Europea nei confronti di ogni possibile negoziaizione, abbiamo promosso un’azione civile (T-197/03) innanzi al Tribunale di primo grado delle Comunità Europee, in Lussemburgo, contro la stessa Commissione Europea. All’esito di un complesso giudizio abbiamo ottenuto non solo la piena riabilitazione del Cliente, ma anche la prima condanna giudiziaria della Commissione Europea a pagare un risarcimento, peraltro piuttosto rilevante, in favore di una società privata.
	

include includes/footer.php
include includes/tail.php