include includes/header.php
include mixins/meta-tags
<?php if($_GET['lang'] == "en") { ?>
mixin meta-tags("Management Consulting Group - Law Firm - Rome")
<?php } else { ?>
mixin meta-tags("Gruppo di Management Consulting - Studio Legale - Lerro&Partners - Roma")
<?php } ?>
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			<?php if($_GET['lang'] == "en") { ?>
			h3 CASE HISTORIES
			<?php } else { ?>
			h3 STORIE
			<?php } ?>

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/esperienza-nav.php
			.eight.columns
				<?php if($_GET['lang'] == "en") { ?>
				h3 Management Consulting Group
					small &nbsp;
				p VC is a management consulting company founded as a spin-off of a famous multinational strategic consulting group and positioned in markets with strong technological discontinuity and in the banking world.
				p The project was created by renowned consulting professionals in collaboration with two leading investment funds. These are the 3i Group (one of the largest investment funds in the world) and Kiwi II (the fund managed by Pine Ventures of Elserino Piol). These groups were formed on the basis of a business model that combined strategic consulting and venture capital, while investing part of the fees in client initiatives.
				p For VC we have followed all the start-up companies, investor agreements and shareholder agreements. Then we assisted VC in the ordinary management, providing both corporate assistance (for staff, contracts, corporate activities and relationships with suppliers) and consulting support for client projects. Basically, we provided a versatile legal desk which is well-coordinated with VC consultants. Team work has also led us to extend legal services to several start-ups created by the company.
				p We have been engaged in the organization of investment management in client initiatives of VC through a special European holding firm  and have provided support for internationalization and for the opening of satellite facilities in Germany, Spain and England, thereby extending corporate level legal services to these new areas. Finally, we have managed the sale of the business (which has now changed its name) to a leading international group and subsequently we managed all the contracts relating to the acquisition on behalf of the sellers.
				<?php } else { ?>
				h3 Gruppo di Management Consulting
					small &nbsp;
				p VC è una società di management consulting nata da uno spin off di una celebre multinazionale della consulenza strategica, posizionata su mercati a forte discontinuità tecnologica e nel mondo bancario.
				p Il progetto è nato da affermati professionisti della consulenza in collaborazione con due importanti fondi di investimento, 3i Group (uno dei più grandi fondi di investimento del mondo)  e Kiwi II (il fondo gestito dalla Pino Ventures di Elserino Piol) sulla base di un business model che coniugava consulenza strategica e venture capital, investendo parte delle fees nell’iniziativa del cliente.
				p Per VC abbiamo curato tutto lo start up societario, gli accordi con gli investitori, i patti parasociali. Poi siamo entrati nella gestione ordinaria, fornendo sia assistenza corporate (per il personale, la contrattualistica, le attività societarie, i rapporti  con i fornitori) che supporto consulenziale per i progetti dei clienti, mettendo sostanzialmente a disposizione un versatile desk legale, ben coordinato con i consulenti di VC. Il lavoro in team ci ha poi portato ad estendere il servizio legale a diversi start up creati dall’azienda.
				p Siamo stati impegnati nell’organizzazione della gestione delle partecipazioni nelle iniziative dei clienti di VC tramite una apposita holding europea di partecipazione e abbiamo fornito il supporto per l’internazionalizzazione e per l’apertura di strutture satellite in Germania, Spagna ed Inghilterra, estendendo il servizio legale corporate alle nuove realtà.<br>Infine, abbiamo curato la vendita dell’azienda (che oggi ha cambiato nome) ad un primario Gruppo internazionale e quindi tutta la contrattualistica relativa all’acquisizione per conto dei venditori.
				<?php } ?>
.row
	.eleven.columns.centered
		include includes/testimonial.php
		include includes/blog-box.php

br
		

include includes/footer.php
include includes/tail.php