include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/esperienza-nav
		include includes/testimonial
	.eight.columns
		.panel.contact-box
			h3 Venture Consulting
				small &nbsp;
			p Venture Consulting è un bellissimo progetto che ci ha impegnato nel ciclo completo di una nuova iniziativa imprenditoriale di successo. Si tratta di una società di management consulting nata da uno spin off di una celebre multinazionale della consulenza strategica, posizionata su mercati a forte discontinuità tecnologica e nel mondo bancario.
			p Il progetto è nato da affermati professionisti della consulenza in collaborazione con due importanti fondi di investimento, 3i Group (uno dei più grandi fondi di investimento del mondo)  e Kiwi II (il fondo gestito dalla Pino Ventures di Elserino Piol) sulla base di un business model che coniugava consulenza strategica e venture capital, investendo parte delle fees nell’iniziativa del cliente.
			p Per Venture Consulting abbiamo curato tutto lo start up societario, gli accordi con gli investitori, i patti parasociali. Poi siamo entrati nella gestione ordinaria, fornendo sia assistenza corporate (per il personale, la contrattualistica, le attività societarie, i rapporti  con i fornitori) che supporto consulenziale per i progetti dei clienti, mettendo sostanzialmente a disposizione un versatile desk legale, ben coordinato con i consulenti di VC. Il lavoro in team ci ha poi portato ad estendere il servizio legale a diversi start up creati dall’azienda.
			p In considerazione del particolare business model, siamo stati impegnati nell’organizzazione della gestione delle partecipazioni nelle iniziative dei clienti di VC tramite una apposita holding europea di partecipazione.
			p Abbiamo poi fornito il supporto per l’internazionalizzazione e per l’apertura di strutture satellite in Germania, Spagna ed Inghilterra, estendendo il servizio legale corporate alle nuove realtà.
			p Infine, abbiamo curato il trade sale dell’azienda, ceduta ad un primario Gruppo internazionale nel settore della consulenza strategica e quindi tutta la contrattualistica relativa all’acquisizione per conto dei venditori.
	

include includes/footer.php
include includes/tail.php