include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br
br
br

.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 STORIE

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/esperienza-nav
			.eight.columns
				h3 Perry Ellis
					small &nbsp;
				p Tra i molti casi di contraffazione di marchi e creazioni della moda, il caso di Perry Ellis è stato particolarmente impegnativo: si tratta di un marchio di calzature sportive che in Italia ha vissuto un periodo di forte espansione, pesantemente vittima di contraffazioni ed importazioni parallele.
				p Siamo stati incaricati di eseguire in tutta Italia azioni cautelari (inibitorie e sequestri) e di seguire con le dogane i procedimenti previsti per arginare queste azioni illecite.
				p Abbiamo anche coordinato team di consulenti che si occupavano di rintracciare le fonti della contraffazione, per garantire interventi immediati, con il validissimo supporto del Comando Pronto Impiego della Guardia di Finanza. Alle azioni cautelari sono seguite le azioni risarcitorie. 
				p Questo caso è emblematico di come sia importante una pianificazione legale già nella fase di concezione strategica di un’iniziativa imprenditoriale. Ove i rapporti tra proprietario del marchio, licenziatario, produttore e distributori avessero seguito una logica predeterminata sarebbe stato ben più difficile per i contraffattori o per concorrenti sleali trovare nel sistema delle piccole falle nelle quali insinuarsi. 

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
		

include includes/footer.php
include includes/tail.php