include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/esperienza-nav
	.eight.columns
		.panel.contact-box
			h3 Biopolis
				small &nbsp;
			p Biopolis è una società nata a Siena grazie anche ad un significativo investimento in venture capital da parte di 3i Group plc., con l’obiettivo di sviluppare tecnologie brevettate nel settore farmaceutico, targetizzarle, portarle alla fase II e metterle sul mercato.
			p Abbiamo assistito l’azienda in tutte le attività corporate, dai contratti di investimento agli accordi parasociali, alla gestione delle attività del consiglio di amministrazione. Ci siamo occupati inoltre della contrattualistica generale, dei rapporti di lavoro e delle relazioni con i fornitori.
			p Con il nostro supporto, la società ha quindi acquisito o preso in licenza brevetti internazionali già parzialmente sviluppati, per i quali fosse possibile sviluppare un business model ambizioso. Per lo più abbiamo negoziato licenze con strutture universitarie e relativi spin off, curando la fase di due diligence brevettuale, la negoziazione e la stipulazione degli accordi contrattuali.
			p Infine abbiamo curato la exit dall’investimento ed il trasferimento a terzi del complesso aziendale e delle tecnologie acquisite e sviluppate.
		

include includes/footer.php
include includes/tail.php