include includes/header.php
include mixins/meta-tags
mixin meta-tags("Augusta S.p.a. - Responsabilità Degli Amministratori - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 STORIE

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/esperienza-nav
			.eight.columns
				h3 Agusta S.p.a.: Responsabilità Degli Amministratori
					small &nbsp;
				p In seguito alla liquidazione del Gruppo Efim, il Commissario Liquidatore avviò un’azione risarcitoria per responsabilità del top management del Gruppo e di alcune delle società partecipate. Ci siamo occupati di una di queste vicende, che vedevano la gestione liquidatoria dell’EFIM opposta a circa 30 dirigenti ed ex amministratori di Agusta s.p.a. (tra i quali i nostri assistiti) oltre alle società di revisione, con una pretesa risarcitoria di poco inferiore ai 2.000 miliardi di lire (cioè circa un miliardo di euro).
				p Si è trattato di un contenzioso estremamente delicato sia per il rilevantissimo ammontare del risarcimento richiesto che per la necessità di ricostruire, a distanza di anni, processi decisionali e governance di uno dei più grandi enti pubblici italiani e delle sue partecipate, leader nei rispettivi mercati. Invero, proprio dalla ricostruzione dei processi decisionali interni al sistema di holding dipendeva l’esistenza o meno dei profili di colpa attribuiti al management.
				p Il contenzioso, innanzi al Tribunale di Busto Arsizio, si è concluso positivamente per i nostri assistiti, con la rinuncia di EFIM ad ogni pretesa risarcitoria.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
			

include includes/footer.php
include includes/tail.php