include includes/header.php
include mixins/meta-tags
mixin meta-tags("Ok Salute - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 STORIE

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/esperienza-nav
			.eight.columns
				h3 Azienda Web
					small &nbsp;
				p In piena esplosione delle web company il progetto K., che ci ha impegnato per diversi anni, è stato una vera accademia della start up: la società, nata dall’iniziativa di diversi importanti esponenti dell’industria farmaceutica con il supporto del fondo di venture capital Kiwi II (gestito dalla Pino Ventures di Elserino Piol), intendeva fornire servizi web nel settore della salute generando un utile flusso in entrata ed in uscita di informazioni concernenti i propri utenti, proponendosi come centro di diffusione di informazione medica qualificata, profilata e segmentata.
				p Abbiamo assistito i soci fondatori nella fase costitutiva e nelle operazioni di venture capital (ci sono stati più round di finanziamento per diversi milioni di euro) ed in tutta l’attività corporate. L’azienda ha terziarizzato su di noi tutta l’attività legale, l’organizzazione e la gestione dei rapporti con i fornitori e la contrattualistica, la gestione del personale, il contenzioso.
				p La successiva crisi delle aziende internet ne ha quindi sospeso il piano di sviluppo, essendo venuta meno la disponibilità dei necessari ulteriori investimenti. Ci siamo quindi occupati della liquidazione degli asset (tra i quali il marchio, che oggi contraddistingue una nota testata del settore). 

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
			

include includes/footer.php
include includes/tail.php