include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/esperienza-nav
	.eight.columns
		.panel.contact-box
			h3 Storie
				small &nbsp;
			p In questa sezione presentiamo alcune delle nostre esperienze, indicative o rappresentative del nostro approccio alla Professione e di alcune specifiche tematiche affrontate. Il curriculum professionale dei Partner è disponibile su richiesta, ma queste storie raccontano in concreto e meglio di ogni sintesi quale tipo di vicende siano state affrontate dallo Studio. Le storie possono essere selezionate sul menù a lato. 
			p In considerazione degli imprescindibili doveri di riservatezza che devono caratterizzare l’esercizio della professione legale, non abbiamo inserito in questa sezione storie comuni, vicende relative a privati e comunque che non siano divenute pubbliche.
			p Pertanto, le storie presenti in questa sezione contengono esclusivamente informazioni di pubblico dominio o pubblicate sulla stampa o comunque autorizzate dai soggetti coinvolti, nel pieno rispetto della relativa privacy.
			div(style="padding-left:4em;")
				ul
					li 
						a(href="esperienza-venture-consulting.php") Venture Consulting
					li 
						a(href="esperienza-proras-vs-ce.php") Proras vs. CE
					li 
						a(href="esperienza-ciappetta.php") Ciappetta
					li 
						a(href="esperienza-perry-ellis.php") Perry Ellis
					li 
						a(href="esperienza-ok-salute.php") OK Salute
					li 
						a(href="esperienza-azioni-contro-gruppo-efim.php") Azioni contro il Gruppo EFIM
					li 
						a(href="esperienza-biopolis.php") Biopolis
					li 
						a(href="esperienza-ministero-ambiente.php") Ministero dell’ambiente
		

include includes/footer.php
include includes/tail.php