include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/esperienza-nav
	.eight.columns
		.panel.contact-box
			h3 Perry Ellis
				small &nbsp;
			p Abbiamo seguito numerosi casi di intellectual property relativi a marchi e creazioni della moda. Tra questi è stato particolarmente impegnativo il caso di Perry Ellis, un marchio di calzature sportive che in Italia ha vissuto un periodo di forte espansione, poi vanificato a causa di contraffazioni ed importazioni parallele, che ne hanno strozzato la possibilità di una corretta distribuzione commerciale.
			p Siamo stati incaricati di eseguire in tutta Italia azioni cautelari (inibitorie e sequestri) e di seguire con le dogane i procedimenti previsti per arginare queste azioni illecite.
			p Abbiamo anche coordinato team di consulenti che si occupavano di rintracciare le fonti della contraffazione, affiancando costantemente il cliente per garantire interventi immediati, con il validissimo supporto del Comando Pronto Impiego della Guardia di Finanza.
			p Alle azioni cautelari sono seguite le azioni risarcitorie. 
			p Questo caso è emblematico di come sia importante una pianificazione legale già nella fase di concezione strategica di un’iniziativa imprenditoriale. Ove i rapporti tra proprietario del marchio, licenziatario, produttore e distributori avessero seguito una logica predeterminata sarebbe stato ben più difficile per i contraffattori o per concorrenti sleali trovare nel sistema delle piccole falle nelle quali insinuarsi. Invece, in altri casi occorre cercare di riparare i danni e non sempre è possibile salvare il progetto.
	

include includes/footer.php
include includes/tail.php