include includes/header.php
include mixins/meta-tags
<?php if($_GET['lang'] == "en") { ?>
mixin meta-tags("Case Histories - Law Firm - Rome")
<?php } else { ?>
mixin meta-tags("Esperienze e Casi Affrontati - Studio Legale - Lerro&Partners - Roma")
<?php } ?>
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			<?php if($_GET['lang'] == "en") { ?>
			h3 Case Histories
			<?php } else { ?>
			h3 Storie
			<?php } ?>

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/esperienza-nav
			.eight.columns
				<?php if($_GET['lang'] == "en") { ?>
				p In this section we present some of our experiences, which we believe are indicative or at least representative of our professional approach to some specific themes. The curriculum vitae of our Partners are available upon request, but the case histories presented here are concrete and can portray much better than any synopsis the type of situations Lerro&Partners has faced. The case histories can be selected from the menu on the left.
				p In view of the restrictions of confidentiality which characterize all aspects of the legal profession, we have not included stories involving the common case histories or ordinary events of private citizens if these case histories have not already become publicly known.
				p Therefore, the case histories in this section only contain information in the public domain, in the press or otherwise authorized by all those involved, in full compliance with their privacy.
				<?php } else { ?>
				p In questa sezione presentiamo alcune delle nostre esperienze, indicative o rappresentative del nostro approccio alla Professione e di alcune specifiche tematiche affrontate. Il curriculum professionale dei Partner è disponibile su richiesta, ma queste storie raccontano in concreto e meglio di ogni sintesi quale tipo di vicende siano state affrontate dallo Studio. Le storie possono essere selezionate sul menù a lato. 
				p In considerazione degli imprescindibili doveri di riservatezza che devono caratterizzare l’esercizio della professione legale, non abbiamo inserito in questa sezione storie comuni, vicende ordinarie relative a privati o comunque che non siano divenute pubbliche.
				p Pertanto, le storie presenti in questa sezione contengono esclusivamente informazioni di pubblico dominio o pubblicate sulla stampa o comunque autorizzate dai soggetti coinvolti, nel pieno rispetto della relativa privacy.
				<?php } ?>
.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
		

include includes/footer.php
include includes/tail.php