include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 STORIE

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/esperienza-nav
			.eight.columns
				p In questa sezione presentiamo alcune delle nostre esperienze, indicative o rappresentative del nostro approccio alla Professione e di alcune specifiche tematiche affrontate. Il curriculum professionale dei Partner è disponibile su richiesta, ma queste storie raccontano in concreto e meglio di ogni sintesi quale tipo di vicende siano state affrontate dallo Studio. Le storie possono essere selezionate sul menù a lato. 
				p In considerazione degli imprescindibili doveri di riservatezza che devono caratterizzare l’esercizio della professione legale, non abbiamo inserito in questa sezione storie comuni, vicende ordinarie relative a privati o comunque che non siano divenute pubbliche.
				p Pertanto, le storie presenti in questa sezione contengono esclusivamente informazioni di pubblico dominio o pubblicate sulla stampa o comunque autorizzate dai soggetti coinvolti, nel pieno rispetto della relativa privacy.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
		

include includes/footer.php
include includes/tail.php