include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/esperienza-proras-vs-ce.jpg")

br
br
br
br
br

#content.row
	.four.columns
		.panel.contact-box
			include includes/esperienza-nav
	.eight.columns
		.panel.contact-box
			h3 Proras vs. CE
				small &nbsp;
			p Proras s.r.l. è una società di servizi e di ingegneria che negli ultimi anni si è specializzata in appalti nel settore della cooperazione europea. Si tratta di un ambiente difficile, notevolmente complicato sia dalle pressioni politiche dei Governi che da ruoli di fondamentale importanza attribuiti a contractor esterni alle istituzioni comunitarie.
	

include includes/footer.php
include includes/tail.php