<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("titolo"); ?>
<?php include("nav.php"); ?>

br
br

#maximage
	img(src="http://placehold.it/2560x600&text=BG1")
	img(src="http://placehold.it/2560x600&text=BG2")
	img(src="http://placehold.it/2560x600&text=BG3")
  
#content.row
	.twelve.columns
		h1 Title
		p
			for i in [1,2,3,4,5]
				span "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vitae culpa sit nobis alias inventore perferendis id voluptatibus labore modi dignissimos deleniti est asperiores consectetur eveniet veniam architecto et porro."
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>