include includes/header.php
<?php include("php/meta.php"); meta("titolo"); ?>
include includes/nav.php

br
br

#maximage
	img(src="images/bg/02.jpg", title="titolo")
	img(src="images/bg/01.jpg")
	img(src="images/bg/06.jpg")
	img(src="images/bg/05.jpg")
	img(src="images/bg/08.jpg")

.row
	#slogan 
		h1 
	.show-for-portrait(style="padding-bottom:55%;")
.row.hide-for-small
	.show-for-landscape(style="padding-bottom:27%;")
#content.row
	.twelve.columns
		.four.columns
			.panel.box-title
				h5 
					a(href="profilo.php") 
						| PROFILO
						&nbsp;
						i.icon-circle-arrow-right
			.box.panel
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat suscipit purus non auctor. Praesent justo massa, porttitor sit amet luctus sit amet, convallis eu eros. Aliquam vestibulum mattis luctus. Fusce urna magna, vehicula ut rhoncus eget, placerat sed sapien.
		.four.columns
			.panel.box-title
				h5 
					a(href="attivita.php") 
						| ATTIVIT&Agrave;
						&nbsp;
						i.icon-circle-arrow-right
			.box.panel
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat suscipit purus non auctor. Praesent justo massa, porttitor sit amet luctus sit amet, convallis eu eros. Aliquam vestibulum mattis luctus. Fusce urna magna, vehicula ut rhoncus eget, placerat sed sapien.
		.four.columns
			.panel.box-title
				h5
					a(href="esperienza.php") 
						| ESPERIENZA
						&nbsp;
						i.icon-circle-arrow-right
			.box.panel
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat suscipit purus non auctor. Praesent justo massa, porttitor sit amet luctus sit amet, convallis eu eros. Aliquam vestibulum mattis luctus. Fusce urna magna, vehicula ut rhoncus eget, placerat sed sapien.
  

include includes/footer.php
include includes/tail.php