<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("titolo"); ?>
<?php include("nav.php"); ?>

br
br

#maximage
	img(src="images/bg/01.jpg")
	img(src="images/bg/02.jpg")
	img(src="images/bg/03.jpg")

.row
	.show-for-portrait(style="padding-bottom:33%;")
.row.hide-for-small
	.show-for-landscape(style="padding-bottom:33%;")
#content.row
	.twelve.columns
		.four.columns
			.box.panel
				h5 
					a(href="section.php") PROFILO
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat suscipit purus non auctor. Praesent justo massa, porttitor sit amet luctus sit amet, convallis eu eros. Aliquam vestibulum mattis luctus. Fusce urna magna, vehicula ut rhoncus eget, placerat sed sapien.
		.four.columns
			.box.panel
				h5 
					a(href="section.php") ATTIVIT&Agrave;
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat suscipit purus non auctor. Praesent justo massa, porttitor sit amet luctus sit amet, convallis eu eros. Aliquam vestibulum mattis luctus. Fusce urna magna, vehicula ut rhoncus eget, placerat sed sapien.
		.four.columns
			.box.panel
				h5
					a(href="section.php") ESPERIENZA
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat suscipit purus non auctor. Praesent justo massa, porttitor sit amet luctus sit amet, convallis eu eros. Aliquam vestibulum mattis luctus. Fusce urna magna, vehicula ut rhoncus eget, placerat sed sapien.
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>