<?php include("header.php"); ?>
<?php include("php/meta.php"); meta("titolo"); ?>
<?php include("nav.php"); ?>

br
br

#maximage
	img(src="http://placehold.it/2560x600&text=BG1")
	img(src="http://placehold.it/2560x600&text=BG2")
	img(src="http://placehold.it/2560x600&text=BG3")

.row
	.show-for-portrait(style="padding-bottom:33%;")
.row.hide-for-small
	.show-for-landscape(style="padding-bottom:33%;")
#content.row
	.twelve.columns
		.four.columns
			.panel
				h5 
					a(href="section.php") CHE FACCIAMO
		.four.columns
			.panel
				h5 
					a(href="section.php") CHE ABBIAMO FATTO
		.four.columns
			.panel
				h5
					a(href="section.php") QUANTO COSTIAMO
  

<?php include("footer.php"); ?>
<?php include("tail.php"); ?>