include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

br
br

#maximage
	img(src="images/bg/01.jpg")
	img(src="images/bg/02.jpg")
	img(src="images/bg/03.jpg")
	img(src="images/bg/04.jpg")
	img(src="images/bg/05.jpg")
	img(src="images/bg/06.jpg")

.row
	#slogan 
		h1 
	.show-for-portrait(style="padding-bottom:55%;")
.row.hide-for-small
	.show-for-landscape(style="padding-bottom:27%;")
#content.row
	.twelve.columns
		.four.columns
			.panel.box-title
				h5 
					a(href="profilo.php") 
						| PROFILO
						&nbsp;
						i.icon-circle-arrow-right
			.box.panel
				p Il nostro profilo professionale e la sintesi di venti anni di attività.
		.four.columns
			.panel.box-title
				h5 
					a(href="attivita.php") 
						| ATTIVIT&Agrave;
						&nbsp;
						i.icon-circle-arrow-right
			.box.panel
				p Lerro&Partners si occupa di diritto civile e commerciale. In questa sezione sono descritte le principali aree di competenza.
		.four.columns
			.panel.box-title
				h5
					a(href="esperienza.php") 
						| STORIE
						&nbsp;
						i.icon-circle-arrow-right
			.box.panel
				p Raccontiamo alcune delle nostre esperienze, indicative o rappresentative del nostro approccio alla Professione. 
  

include includes/footer.php
include includes/tail.php