include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

img.section-banner.hide-for-small(src="images/section/01.jpg")
img.show-for-small(src="images/section/01.jpg")

#content.row
	.three.columns
		ul.side-nav
		
	.nine.columns
		h3 Profilo
			small &nbsp;
		p LERRO & PARTNERS ("L&P") è uno Studio Legale che ha sede a Roma, si fonda sulla ventennale esperienza del Senior Partner ed intrattiene stabili relazioni con validi professionisti in Italia e in Europa. 
		p Lo Studio è il risultato di un’attenta e ponderata selezione di professionalità che hanno dimostrato competenza ed entusiasmo, oltre alla indispensabile capacità di relazionarsi.
		p Lo Studio riserva grande attenzione tutti i settori innovativi ed alle problematiche societarie e commerciali, con una forte preparazione ed esperienza di tipo internazionale.
		p Punti di forza dello Studio sono la visione strategica, l'alta preparazione tecnica, la rapidità e l'efficienza nella gestione degli incarichi, la capacità di dialogare con le più diverse competenze professionali; caratteristiche che hanno determinato lo sviluppo di elevate capacità negoziali e strategiche nelle diverse aree di attività.
		p Lo spirito di lavoro è improntato alla proattività e all'eccellenza qualitativa, al fine di raggiungere la perfetta comprensione delle esigenze del Cliente e di offrire la massima rapidità e puntualità nello svolgimento degli incarichi. 
		p L'italiano e l'inglese sono le lingue di lavoro correnti dello Studio, che utilizza inoltre il francese, il tedesco e lo spagnolo.
	

include includes/footer.php
include includes/tail.php