include includes/header.php
include mixins/meta-tags
mixin meta-tags("Profilo Aziendale - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/lp-bg.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 Profilo
				small &nbsp;

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			p Lo Studio legale Lerro&Partners ha sede a Roma ed intrattiene stabili relazioni con validi professionisti in Italia ed in Europa, in modo da poter offrire al Cliente la massima copertura nazionale ed estera consentendo una ottimizzazione dei costi. L’italiano e l’inglese sono le lingue di lavoro correnti dello Studio, che ha sempre avuto una forte vocazione internazionale.
			p L&P si fonda sulla ultraventennale esperienza del Senior Partner, che dopo circa dieci anni di lavoro in importanti studi ha creato la propria struttura professionale, portando con sé significative esperienze maturate nell’assistenza sia di privati che di noti personaggi e multinazionali.
			p Punti di forza di L&P sono la visione strategica, l'alta preparazione tecnica, la rapidità e l'efficienza nella gestione degli incarichi, la capacità di dialogare con le più diverse competenze professionali; caratteristiche che hanno determinato lo sviluppo di elevate capacità negoziali e strategiche nelle diverse aree di attività.
			p Oltre ad una consistente attività stragiudiziale e negoziale, lo Studio patrocina il contenzioso in sede ordinaria, arbitrale e davanti alle Magistrature Superiori e alla Corte di Giustizia dell’Unione Europea. 
			p L’esperienza ci ha dimostrato che una problematica legale, a prescindere dall’importanza economica o dalla difficoltà giuridica, può incidere seriamente sulla vita del Cliente.<br>Lo spirito di lavoro è pertanto improntato alla proattività e all'eccellenza qualitativa, al fine di raggiungere la perfetta comprensione delle esigenze del Cliente con serenità, immedesimazione, sincerità e chiarezza nella discussione di tutti i profili del caso, per trovare soluzioni chiare e condivise anche laddove ciò sembra impossibile.

.row
	.eleven.columns.centered
		include includes/testimonial
		include includes/blog-box

br
	

include includes/footer.php
include includes/tail.php