include includes/header.php
include mixins/meta-tags
mixin meta-tags("Assistere Un Disabile - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/04.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 PROGETTI

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/slogan-nav
			.eight.columns
				h3 Assistere Un Disabile
					small &nbsp;
				p Troppo spesso la disabilità, fisica o mentale, è vista come un problema da nascondere e non come una situazione da affrontare, con la conseguenza che ci si ritrova a cercare risposte transitorie e puntuali per l’incidente del momento, invece che soluzioni complessive che consentano di affrontare il futuro con maggior serenità. I familiari di un disabile si trovano dinanzi ad un muro, a chiedersi come faranno ad assisterlo, per quanto tempo, come combinare i propri impegni con le esigenze assistenziali.
				p L’assistenza del disabile è oggi agevolata dalla figura dell’amministratore di sostegno, oltre a quella tradizionale del tutore. Tuttavia si tratta di una figura non professionale, affettivamente vicina al disabile ed in grado di interpretarne al meglio desideri ed aspirazioni.
				p Accanto all’amministratore di sostegno è spesso necessaria una figura professionalmente qualificata, per assisterlo nella esecuzione del suo compito al meglio. Per molti atti è necessario comunque interloquire con il Giudice Tutelare o il Tribunale; per molti altri è opportuna un’assistenza qualificata che metta al riparo l’amministratore di sostegno e l’assistito da errori o incidenti di percorso, assicurando la miglior collaborazione nel perseguimento degli interessi del disabile.
				p La consapevolezza del legislatore nei confronti delle problematiche della disabilità ha fatto passi importanti ed oggi sono disponibili molte soluzioni che rendono migliore la vita dell’assistito e dei familiari, garantendo la massima efficienza delle misure di protezione e la loro continuità nel tempo.
		
		
	

include includes/footer.php
include includes/tail.php