include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/02.jpg")

br
br
br
br
br

#content.row
	.eleven.columns.centered
		.twelve.columns.contact-box
			.two.columns
				include includes/slogan-nav
			.ten.columns
				h3 RIPOSIZIONARE UN'AZIENDA
					small &nbsp;
				p L’apertura di una rete commerciale estera, l’ingresso nella grande distribuzione, la progettazione di un franchising sono alcuni dei più frequenti esempi di riposizionamento aziendale che richiedono non solo la competenza di validi manager, ma anche la collaborazione di giuristi esperti che partecipino alla progettazione strategica, prima ancora che alla fase esecutiva. 
				p Infatti, può capitare che il più bel progetto imprenditoriale debba essere ripensato a causa di ostacoli normativi, o che una diversa strategia sia più efficiente proprio per ragioni regolatorie.
				p In particolare, quando si cambia mercato, sia che si tratti di un nuovo prodotto che di una estensione geografica del business, non si può fare pienamente conto sul bagaglio di esperienza che ha accompagnato l’impresa fino a quel momento. Il miglior imprenditore rischia di commettere errori dettati dall’inesperienza o di trovarsi a formulare strategie non realizzabili o a prendere decisioni inadeguate.
				p Anni fa abbiamo assistito un’azienda che effettuava forniture aeronautiche e che ha deciso di proporre allo stesso mercato prodotti diversi, con un maggior impatto tecnologico. La diversificazione ha richiesto all’azienda di sviluppare competenze nuove e di creare una apposita business unit, nella quale il contributo del consulente legale (coinvolto nelle tematiche di intellectual property, discipline regolatorie, contrattualistica con i fornitori) è stato fondamentale per il successo che l’azienda ha poi meritatamente raggiunto.
				p La delicatezza del riposizionamento aziendale richiede la transitoria acquisizione di competenze specialistiche che una qualificata competenza professionale può garantire, allo scopo di superare con competenza la fase critica e di far partire il progetto nel modo migliore.

	

include includes/footer.php
include includes/tail.php