include includes/header.php
<?php include("php/meta.php"); meta("titolo"); ?>
include includes/nav.php

#maximage
	img(src="images/bg/02.jpg")

#content.row
	.three.columns
		include includes/slogan-nav
	.nine.columns
		h3 GESTISCI LA TUA VITA
			small &nbsp;
		p Molte volte ci si sente sopraffatti dagli adempimenti, dalla gestione dei fornitori, dai fastidi quotidiani che sembrano sempre più inevitabili e che è impossibile trascurare, onde evitare sanzioni, rinnovi di contratti, pregiudizi di ogni tipo.
		p Tanto più tale situazione si presenta opprimente in relazione a determinate attività professionali, che richiedono vite in continuo movimento, o in relazione a profili professionali molto lontani dalla tipologia di affari che richiedono attenzione, o comunque alla specifica capacità del singolo.
		P Ad esempio, è frequente che un medico, già abbondantemente preso da impegni professionali di ogni tipo, debba combattere con la gestione di immobili locati, con inquilini morosi, ristrutturazioni, grane condominiali, adempimenti amministrativi. Oppure capita che il pensionato non riesce a dedicarsi come vorrebbe ai nipoti e ai propri hobby, trovandosi costretto ad interagire con uffici pubblici, affari di famiglia, gestioni patrimoniali.
		P In tutti questi casi è utile avere un “family office” che gestisca professionalmente tutta la burocrazia, gli adempimenti, i rapporti con i fornitori, le relazioni con gli enti, lasciando la persona libera di vivere serenamente, selezionando le questioni di cui voglia effettivamente occuparsi.
		
		
	

include includes/footer.php
include includes/tail.php