include includes/header.php
include mixins/meta-tags
<?php if($_GET['lang'] == "en") { ?>
mixin meta-tags("Repositioning of a company - Law Firm - Rome")
<?php } else { ?>
mixin meta-tags("Riposizionare Un'azienda - Studio Legale - Lerro&Partners - Roma")
<?php } ?>
include includes/nav.php

#maximage
	img(src="images/bg/02.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			<?php if($_GET['lang'] == "en") { ?>
			h3 PROJECTS
			<?php } else { ?>
			h3 PROGETTI
			<?php } ?>

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/slogan-nav.php
			.eight.columns
				<?php if($_GET['lang'] == "en") { ?>
				h3 Repositioning of a company
					small &nbsp;
				p The opening of a foreign trade network, the entry into large-scale distribution, the design of a franchise are some of the most frequent examples of corporate repositioning that require not only the expertise of effective managers, but also the cooperation of legal experts who participate in strategic planning, even before the execution phase.
				p In fact, it may occur that the most attractive business project must be reconsidered due to regulatory barriers, or that a different strategy is more efficient due to regulatory reasons.
				p In particular, when changing the market, whether it is a new product or a geographical extension of business, you cannot fully account for the wealth of experience that has accompanied the business up to that time. Even the best entrepreneur is likely to make mistakes due to inexperience or formulating strategies that are not feasible or make inappropriate decisions.
				p Years ago we assisted a company that was an aeronautical supplier and had decided to propose different products to the same market, with a greater technological impact. Diversification prompted the company to develop new skills and create a special business unit, in which the contribution of legal counsel (involved in the issues of intellectual property, regulatory framework, contracts with suppliers) had been critical to the success that the company then deservedly achieved. 
				p The complex corporate repositioning requires the temporary acquisition of specialized skills, which can be guaranteed by qualified professionals, in order to complete a critical phase with competence and start the project in the best way.
				<?php } else { ?>
				h3 Riposizionare un'azienda
					small &nbsp;
				p L’apertura di una rete commerciale estera, l’ingresso nella grande distribuzione, la progettazione di un franchising sono alcuni dei più frequenti esempi di riposizionamento aziendale che richiedono non solo la competenza di validi manager, ma anche la collaborazione di giuristi esperti che partecipino alla progettazione strategica, prima ancora che alla fase esecutiva. 
				p Infatti, può capitare che il più bel progetto imprenditoriale debba essere ripensato a causa di ostacoli normativi, o che una diversa strategia sia più efficiente proprio per ragioni regolatorie.
				p In particolare, quando si cambia mercato, sia che si tratti di un nuovo prodotto che di una estensione geografica del business, non si può fare pienamente conto sul bagaglio di esperienza che ha accompagnato l’impresa fino a quel momento. Il miglior imprenditore rischia di commettere errori dettati dall’inesperienza o di trovarsi a formulare strategie non realizzabili o a prendere decisioni inadeguate.
				p Anni fa abbiamo assistito un’azienda che effettuava forniture aeronautiche e che ha deciso di proporre allo stesso mercato prodotti diversi, con un maggior impatto tecnologico. La diversificazione ha richiesto all’azienda di sviluppare competenze nuove e di creare una apposita business unit, nella quale il contributo del consulente legale (coinvolto nelle tematiche di intellectual property, discipline regolatorie, contrattualistica con i fornitori) è stato fondamentale per il successo che l’azienda ha poi meritatamente raggiunto.
				p La delicatezza del riposizionamento aziendale richiede la transitoria acquisizione di competenze specialistiche che una qualificata competenza professionale può garantire, allo scopo di superare con competenza la fase critica e di far partire il progetto nel modo migliore.
				<?php } ?>
	

include includes/footer.php
include includes/tail.php