include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/bw/06.jpg")

#content.row
	.three.columns
		include includes/slogan-nav
	.nine.columns
		h3 MONITORAGGIO LEGISLATIVO E LOBBYING
			small &nbsp;
		p Solo da pochi anni si è diffusa anche in Italia in modo strutturato la c.d. attività di intelligence politica, lobbying e public affairs: le aziende si rivolgono ad un professionista per seguire l’evoluzione di normative che le interessano e, ove possibile ed ammesso dalla legge, per partecipare alle procedure di consultazione degli operatori del settore e quindi al processo normativo in modo democratico.
		p L’attività si basa sia sul c.d. monitoraggio legislativo, attraverso processi di documentazione delle attività parlamentari (comunitarie e nazionali) e ministeriali, che su percorsi di sensibilizzazione delle autorità, attraverso la redazione di ricerche, tavole sinottiche, position papers, sintesi, emendamenti, proposte per il legislatore.
		p Da non trascurare è poi l’attività sempre più penetrante svolta dalle Authority, a livello di indagini di settore e regolamentazioni specialistiche: si tratta di processi che coinvolgono gli operatori industriali e commerciali, nei quali è sicuramente utile essere rappresentati da giuristi esperti, in grado di dialogare con le amministrazioni coinvolte.
		p Inoltre, in settori imprenditoriali esposti a valutazioni pubbliche particolari, è importante concepire la strategia di comunicazione di un’azienda in linea con l’immagine pubblica che essa deve avere per generare consapevolezza sul proprio profilo e per garantirsi un ambiente normativo favorevole. In tale fase il contributo del giurista consente di evitare errori di posizionamento e contraddizioni di comunicazione che potrebbero avere effetti negativi, ed anzi aiuta a sviluppare un concept vincente.
		p Si tratta di un utile investimento se si pensa che Tony Blair ebbe modo di dire: “se faccio qualcosa che danneggia i vostri interessi perché non lo sapevo, la colpa è vostra, non mia”.
		p Questo tipo di attività in molti Paesi esteri è gestita prevalentemente da avvocati (è noto, ad es. l’impegno in materia dei maggiori studi legali di Washington), ma è spesso svolta anche da società più focalizzate sulla comunicazione e sull’organizzazione di eventi.
		p Il nostro approccio, basato tra l’altro su 10 anni di servizi giuridici svolti per il Ministero dell’ambiente, vuole essere fortemente tecnico-giuridico, per dare all’impresa e alla politica i migliori strumenti tecnici per comprendere ciò che spesso viene fortemente complicato da discipline specialistiche  o da contingenze di settore.
		
		
	

include includes/footer.php
include includes/tail.php