include includes/header.php
include mixins/meta-tags
mixin meta-tags("titolo")
include includes/nav.php

#maximage
	img(src="images/bg/05.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 PROGETTI

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/slogan-nav
			.eight.columns
				h3 Gestisci La Tua Vita
					small &nbsp;
				p Molte volte ci si sente sopraffatti dagli adempimenti, dalla gestione dei fornitori, dai fastidi quotidiani che sembrano sempre più inevitabili e che è impossibile trascurare, onde evitare sanzioni, rinnovi di contratti, pregiudizi di ogni tipo.
				p Ci si trova ad affrontare, in un delicatissimo equilibrio, questioni governate da principi che non si conoscono, da regole astruse difficili da individuare, in contesti spesso incomprensibili.
				p Tanto più tale situazione si presenta opprimente in relazione a determinate attività professionali, che richiedono vite in continuo movimento, o in relazione a profili professionali molto lontani dalla tipologia di affari che richiedono attenzione, o comunque alla specifica capacità del singolo.
				P Ad esempio, è frequente che un medico, già abbondantemente preso da impegni professionali di ogni tipo, debba combattere con la gestione di immobili locati, con inquilini morosi, ristrutturazioni, grane condominiali, adempimenti amministrativi. Oppure capita che il pensionato non riesca a dedicarsi come vorrebbe ai nipoti e ai propri hobby, trovandosi costretto ad interagire con uffici pubblici, affari di famiglia, gestioni patrimoniali.
				P In tutti questi casi è utile avere un “family office” che gestisca professionalmente tutta la burocrazia, gli adempimenti, i rapporti con i fornitori, le relazioni con gli enti, lasciando la persona libera di vivere serenamente, selezionando le questioni di cui voglia effettivamente occuparsi.
				p Il supporto consulenziale consente di usufruire di una guida nella gestione delle problematiche quotidiane o addirittura di delegarle totalmente ad un professionista di fiducia.
		
		
	

include includes/footer.php
include includes/tail.php