include includes/header.php
include mixins/meta-tags
mixin meta-tags("La Difesa Di Un Patrimonio - Studio Legale - Lerro&Partners - Roma")
include includes/nav.php

#maximage
	img(src="images/bg/03.jpg")

br
br
br


.row
	.eleven.columns.centered
		.twelve.columns.panel.box-title-fluid
			h3 PROGETTI

#content.row
	.eleven.columns.centered
		.twelve.columns.panel.box-fluid
			include includes/slogan-nav
			.eight.columns
				h3 La Difesa Di Un Patrimonio
					small &nbsp;
				p Ci sono molte ragioni per le quali è necessario difendere un patrimonio o comunque tenerlo unito. La storia ci ha mostrato casi di dispersione di ingenti risorse familiari a seguito di litigi tra fratelli, di separazioni, di tragedie personali, di disturbi personali.
				p Per evitare queste evenienze l’ordinamento giuridico mette a disposizione degli strumenti che consentono una valida protezione patrimoniale nel pieno rispetto della legge e di fondamentali principi quali la responsabilità patrimoniale, la tutela dell’affidamento, la protezione degli incapaci o la salvaguardia dei diritti successori. Nel mondo moderno, peraltro, gli ordinamenti giuridici internazionali spesso aiutano la disciplina nazionale, integrandola con esperienze testate in altri contesti (ad esempio, è il caso del Trust, che in Inghilterra ed USA ha consentito la conservazione dei grandi patrimoni familiari).
				p Altrettanto importanti sono la pianificazione della gestione e la programmazione del passaggio generazionale.
				p Occorre poi differenziare strategie ed azioni in relazione alla natura del patrimonio (immobiliare, mobiliare o misto), alle esigenze  del Cliente e alle opportunità che concretamente si manifestano.
				p L’analisi del problema, la valutazione delle alternative e la programmazione del futuro consentono una difesa efficace del patrimonio, la riduzione dei rischi e significativi risparmi.
		
		
	

include includes/footer.php
include includes/tail.php