mixin site(thumb, href, title, text)
	#content.row
		.seven.columns
			a.th(href=href)
				img(src=thumb, alt="")
		.five.columns
			h2 #{title}
			span !{text}

<?php include("header.php"); ?> 
<?php include("php/meta.php"); meta("Web Design"); ?> 	
<?php include("nav.php"); ?>
	
br

- var site1Text = "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quo eius dolorem tenetur dolores porro voluptates voluptatem sed assumenda impedit error molestiae nostrum? Error quas possimus blanditiis eligendi necessitatibus natus!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatum quam voluptate inventore dolor corrupti distinctio nisi! Ad optio cum excepturi accusantium harum nemo tenetur. Eveniet et quis voluptate voluptatibus!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus corrupti nemo itaque dolorum soluta quaerat repudiandae quisquam tempora quasi nesciunt rem incidunt consequatur fuga quis id. Sint sapiente ab ipsum.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex excepturi saepe sequi quibusdam voluptates voluptatibus laudantium. Quaerat porro nostrum illo deleniti nulla labore autem! Culpa aperiam autem ipsa reiciendis qui.</p>";
mixin site("http://placehold.it/800x600", "#", "Site1", site1Text)

hr

- var site2Text = "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quo eius dolorem tenetur dolores porro voluptates voluptatem sed assumenda impedit error molestiae nostrum? Error quas possimus blanditiis eligendi necessitatibus natus!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatum quam voluptate inventore dolor corrupti distinctio nisi! Ad optio cum excepturi accusantium harum nemo tenetur. Eveniet et quis voluptate voluptatibus!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus corrupti nemo itaque dolorum soluta quaerat repudiandae quisquam tempora quasi nesciunt rem incidunt consequatur fuga quis id. Sint sapiente ab ipsum.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex excepturi saepe sequi quibusdam voluptates voluptatibus laudantium. Quaerat porro nostrum illo deleniti nulla labore autem! Culpa aperiam autem ipsa reiciendis qui.</p>";
mixin site("http://placehold.it/800x600", "#", "Site2", site2Text)

hr

- var site3Text = "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quo eius dolorem tenetur dolores porro voluptates voluptatem sed assumenda impedit error molestiae nostrum? Error quas possimus blanditiis eligendi necessitatibus natus!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatum quam voluptate inventore dolor corrupti distinctio nisi! Ad optio cum excepturi accusantium harum nemo tenetur. Eveniet et quis voluptate voluptatibus!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus corrupti nemo itaque dolorum soluta quaerat repudiandae quisquam tempora quasi nesciunt rem incidunt consequatur fuga quis id. Sint sapiente ab ipsum.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex excepturi saepe sequi quibusdam voluptates voluptatibus laudantium. Quaerat porro nostrum illo deleniti nulla labore autem! Culpa aperiam autem ipsa reiciendis qui.</p>";
mixin site("http://placehold.it/800x600", "#", "Site3", site3Text)


<?php include("footer.php"); ?>
<?php include("tail.php"); ?>