.four.columns	
	ul.side-nav
			li 
				a(href="attivita-commerciale-societario.php") COMMERCIALE E SOCIETARIO
			li 
				a(href="attivita-ma-management-buy-out-venture-capital.php") M&A, VENTURE CAPITAL, M.B.O.
			li 
				a(href="attivita-proprieta-intellettuale-concorrenza.php") PROPRIETÀ INTELLETTUALE E CONCORRENZA
			li 
				a(href="attivita-internet-new-media.php") INTERNET E NEW MEDIA
			li 
				a(href="attivita-proprieta-immobiliare.php") PROPRIETÀ IMMOBILIARE
			li 
				a(href="attivita-gestioni-patrimoniali-trust-successioni.php") PATRIMONI, TRUST, SUCCESSIONI
			li 
				a(href="attivita-contenzioso-arbitrato.php") CONTENZIOSO E ARBITRATO
			li 
				a(href="attivita-energia.php") ENERGIA
			li 
				a(href="attivita-amministrazione-sostegno-tutela-protezione-incapaci.php") PROTEZIONE DEGLI INCAPACI