.panel.contact-box.columns(style="width:39.5%; height:156px;")
	#blog-text.left(style="margin-top:-24px;")
		h5 
			a(href="http://avvocati.net") <b>Avvocati.net</b>
		p Il Blog <br>di Lerro&Partners
	img#blog-picture.th.right(src="http://placehold.it/100x130", style="margin-top:-10px;")