.panel.contact-box.columns(style="width:39.5%; height:200px;")
	#blog-text.left(style="margin-top:-24px;")
		h5 
			a(href="http://avvocati.net") <b style="font-size:95%;">Avvocati.net</b>
		p Notizie<br>Opinioni<br>Eventi<br><br><small><b>BLOG A CURA DI</b><br><b style="position:relative;top:-10px;">Alessandro M. Lerro</b></small>
	img#blog-picture.th.right(src="images/avvocato-lerro.jpg", style="margin-top:0px;")