.panel.contact-box.columns(style="width:39.5%; height:200px;")
	#blog-text.left(style="margin-top:-24px;")
		h5 
			a(href="http://avvocati.net") <b>Avvocati.net</b>
		p <b>IL BLOG DI</b><br>Lerro&Partners
	img#blog-picture.th.right(src="images/avvocato-lerro.jpg", style="margin-top:0px;")