.panel.contact-box.columns(style="width:39.5%; height:152px;")
	#blog-text.left(style="margin-top:-24px;")
		h3 Blog
		p Lorem ipsum dolor
	img#blog-picture.th.right(src="http://placehold.it/100x130", style="margin-top:-10px;")