.four.columns
		ul.side-nav
			li 
				a(href="esperienza-venture-consulting.php") GRUPPO DI MANAGEMENT CONSULTING
			li 
				a(href="esperienza-proras-vs-ce.php") AZIENDA VS. UNIONE EUROPEA
			li 
				a(href="esperienza-ciappetta.php") DETENUTO VS. MIN. GIUSTIZIA
			li 
				a(href="esperienza-perry-ellis.php") AZIENDA SPORTIVA
			li 
				a(href="esperienza-ok-salute.php") AZIENDA WEB
			li 
				a(href="esperienza-agusta-spa-responsabilita-amministratori.php") RESPONSABILITÀ AMMINISTRATORI
			li 
				a(href="esperienza-biopolis.php") START UP BIOTECH
			li 
				a(href="esperienza-ministero-ambiente.php") MINISTERO DELL’AMBIENTE