.four.columns
		ul.side-nav
			li 
				a(href="esperienza-venture-consulting.php") VENTURE CONSULTING
			li 
				a(href="esperienza-proras-vs-ce.php") PRORAS VS. UNIONE EUROPEA
			li 
				a(href="esperienza-ciappetta.php") CIAPPETTA VS. MIN. GIUSTIZIA
			li 
				a(href="esperienza-perry-ellis.php") PERRY ELLIS
			li 
				a(href="esperienza-ok-salute.php") OK SALUTE
			li 
				a(href="esperienza-agusta-spa-responsabilita-amministratori.php") AGUSTA S.P.A.
			li 
				a(href="esperienza-biopolis.php") BIOPOLIS
			li 
				a(href="esperienza-ministero-ambiente.php") MINISTERO DELL’AMBIENTE