ul.side-nav
			li 
				a(href="esperienza-venture-consulting.php") Venture Consulting
			li 
				a(href="esperienza-proras-vs-ce.php") Proras vs. CE
			li 
				a(href="esperienza-ciappetta.php") Ciappetta
			li 
				a(href="esperienza-perry-ellis.php") Perry Ellis
			li 
				a(href="esperienza-ok-salute.php") OK Salute
			li 
				a(href="esperienza-azioni-contro-gruppo-efim.php") Azioni contro il Gruppo EFIM