br
br
br
ul.side-nav
			li
				a(href="slogan-idea-impresa.php") DA UN’IDEA A UN’IMPRESA
			li
				a(href="slogan-riposizionare-azienda.php") RIPOSIZIONARE UN’AZIENDA
			li
				a(href="slogan-difesa-patrimonio.php") LA DIFESA DI UN PATRIMONIO
			li
				a(href="slogan-assistere-disabile.php") ASSISTERE UN DISABILE
			li
				a(href="slogan-gestisci-vita.php") GESTISCI LA TUA VITA